<app-header/>
<div class="container mx-auto py-5 px-4 mr-10">
    <div class="max-w-md mx-auto">
      <h2 class="text-3xl font-bold mb-6 text-center">Schedule an appointment</h2>
  
      <!-- Doctor -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Select a doctor</mat-label>
        <mat-select formControlName="doctor">
          <mat-option *ngFor="let d of doctors" [value]="d.id">{{ d.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Time Slot -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Available time slots</mat-label>
        <mat-select formControlName="timeSlot">
          <mat-option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Patient Name -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Patient's name</mat-label>
        <input matInput formControlName="patientName" placeholder="Enter patient's name" />
      </mat-form-field>
  
      <!-- Date of Birth -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Appointment's date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Choose a date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <!-- Email -->
      <mat-form-field appearance="fill" class="w-full mb-6">
        <mat-label>Email address</mat-label>
        <input matInput formControlName="email" placeholder="Enter email" />
      </mat-form-field>
  
      <!-- Submit Button -->
      <button mat-raised-button color="primary" class="w-full" (click)="onSubmit()">
        Book Appointment
      </button>
    </div>
  </div>
  